/* h1{
    color: aqua;
} */

.box{
    height: 100px;
    width: 100px;
    color: white;
    margin: 5px;
    background-color: aqua;
    text-align: center;
    border: 1px solid blueviolet;
}